/* Navbar section */
/* -------------------------------------------------------------------------------------- */
.navbar { 
    background-color: #c8b88a;
    padding: 20px; 
} 

.navbar a:link, .navbar a:visited, .navbar a:active { 
    color: white;
} 
#nav-section { 
    width: 100%;
    justify-content: center;
}
.navbar-collapse { 
justify-content: end;
}
#web-icon { 
    width: 10%;
    height: auto;
} 

/* set media query for navbar */
/* Body section */
/* ---------------------------------------------------------------------------------------- */ 
body { 
  font-family: serif, sans-serif;
} 

/* Three recipe cards */
/* ------------------------------------------------------------------------------------------ */ 
.recipe-of-the-day{ 
    width: 100%; 
    height: fit-content; 
    margin: 20px auto;
}

#meal1, #meal2, #meal3 { 
    margin: 20px;
}